@import url(http://fonts.googleapis.com/css?family=Cantata+One&subset=latin,latin-ext);

body {
  font-family: 'Cantata One', Helvetica, sans-serif;
  font-size: 7em;
  color: white;
}

#home {
  background: url(Beyonce2.png) 50% 0 repeat fixed; min-height: 1000px;
  height: 800px;
  margin: 0;
  width: 100%;
  max-width: 1920px;
  position: relative;
}

#home article {
  height: 458px;
  position: absolute;
  text-align: center;
  top: 300px;
  width: 100%;
}

.pattern {
  height: 800px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);  
}

.pattern article {
  height: 458px;
  position: absolute;
  text-align: center;
  top: 370px;
  width: 100%;
  color: #ce5aff;
}

#pat1 {
  background: url(bg_pattern.png) 50% 0 repeat; min-height: 1000px;
}

#pat2 {
  background: url(blue-tri.png) 50% 0 repeat; min-height: 1000px;
}

#pat3 {
  background: url(alliever.png) 50% 0 repeat; min-height: 1000px;
}

